<div>
<h1 class="text-center">You won Donut Coin!</h1>
    <h1 class="text-center">You won! <h1 class="text-center"id="winnings">test</h1> <h1 class="text-center">Donut Coin!</h1></h1>
    <h1 class="text-center" id="transaction">your transaction</h1>
</div>