<div class="container" id="triviapg">
        <h1 class="text-center mt-3 mb-3">Simpsons Character Trivia</h1>
        <div class="col-4">
            <h3 id="user-name">{{username}}</h3>
        </div>
        <img class="mx-auto d-block mb-5" id="character-pic" src="public/img/akira.jpg">
        <div class="col-4">
            <h3>Games Left: <h2 id="games-left"></h2></h3>
        </div>
    
    <div class="row mb-5 pt-3">
        <div class="col-4">
            <h3>1st Appearance:
                <h3 id="first-appearance"></h3>
            </h3>
        </div>
        <div class="col-4">
            <h3>Air Date:
                <h3 id="air-date"></h3>
            </h3>
        </div>
        <div class="col-4">
            <h3>Voiced By:
                <h3 id="voiced-by"></h3>
            </h3>
        </div>
    </div>
    <div class="row pt-5">
        <div class="col-4">
            <h2>Guessed letters:
                <h2 id="letters-guessed"></h2>
            </h2>
            <h2>Guesses Left:
                <h2 id="guess-left"></h2>
            </h2>
        </div>
        <div class="col-4">
            <h2 class="mx-auto" id="character-name">Character Name!</h2>
        </div>
        <div class="col-4">
            <h2>Possible DonutCoin:
                <h2 id="donut-coin"></h2>
            </h2>
            <button class="btn btn-primary" id="cash-out">Cashout</button>
        </div>
    </div>
</div>
</div>
<script src="./public/js/gamelogic.js"></script>