<!DOCTYPE html>
<html lang="en">

<head>
    <title>Simpson Trivia</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
</head>

<body>
    <div class="container">
        <h1 class="text-center mt-3 mb-3">Simpsons Character Trivia</h1>
        <div class="col-4">
            <h3>UserName!</h3>
        </div>
        <img class="mx-auto d-block mb-5" id="character-pic" src="../../assets/img/akira.jpg">
        <div class="row mb-5 pt-3">
            <div class="col-4">
                <h3>First Appearance:
                    <h3 id="first-appearance"></h3>
                </h3>
            </div>
            <div class="col-4">
                <h3>Original Air Date:
                    <h3 id="air-date"></h3>
                </h3>
            </div>
            <div class="col-4">
                <h3>Voiced By:
                    <h3 id="voiced-by"></h3>
                </h3>
            </div>
        </div>
        <div class="row pt-5">
            <div class="col-4">
                <h2>Guessed letters:
                    <h2 id="letters-guessed"></h2>
                </h2>
                <h2>Guesses Left:
                    <h2 id="guess-left"></h2>
                </h2>
            </div>
            <div class="col-4">
                <h2 class="mx-auto" id="character-name">Character Name!</h2>
            </div>
            <div class="col-4">
                <h2>Possible DonutCoin:
                    <h2 id="donut-coin"></h2>
                </h2>
            </div>
        </div>
    </div>

</body>

</html>